[Unit]
Description=RivalCFG

[Service]
Type=simple
ExecStart=/opt/rival/venv/bin/rivalcfg --z1 "040005" --z2 "040005" --z3 "040005" --logo-color "#040005"
User=root

[Install]
WantedBy=default.target
