[Unit]
Description=RivalCFG

[Service]
Type=simple
#Next line is only required for Xorg, should be removed for Wayland
ExecStart=/opt/rival/venv/bin/rivalcfg --z1 "040005" --z2 "040005" --z3 "040005" --logo-color "#040005"

[Install]
WantedBy=graphical-session.target
